---
import CardEquipo from "@/components/equipo/CardEquipo.astro";
---

<section class="h-fit bg-[#181925] p-10">
  <h2
    class="text-4xl text-center sm:text-5xl md:text-6xl lg:text-7xl text-[#faf5ec] font-bold mb-25"
  >
    Nuestro Equipo
  </h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-[90%] mx-auto"
  >
    <CardEquipo
      imgSrc="https://fastly.picsum.photos/id/146/200/300.jpg?hmac=SbgvjELdBXByeF4AV3A384JFrIvNAhXlCtOmep9DmKE"
      name="Agustín Yedro"
      role="Developer Full Stack"
      description="Desarrollador con experiencia en tecnologías web modernas."
      instagram="https://instagram.com/tonywayne"
      linkedin="https://linkedin.com/in/tonywayne"
    />
    <CardEquipo
      imgSrc="https://fastly.picsum.photos/id/146/200/300.jpg?hmac=SbgvjELdBXByeF4AV3A384JFrIvNAhXlCtOmep9DmKE"
      name="Maximiliano Pedano"
      role="Developer Full Stack"
      description="Desarrollador con experiencia en tecnologías web modernas."
      instagram="https://instagram.com/tonywayne"
      linkedin="https://linkedin.com/in/tonywayne"
    /><CardEquipo
      imgSrc="https://fastly.picsum.photos/id/146/200/300.jpg?hmac=SbgvjELdBXByeF4AV3A384JFrIvNAhXlCtOmep9DmKE"
      name="Jeremias"
      role="Contador y experto en consultoria financiera."
      description="Contador con experiencia en el sector financiero."
      instagram="https://instagram.com/tonywayne"
      linkedin="https://linkedin.com/in/tonywayne"
    />
  </div>
</section>
