/* src/styles/blog.css */
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  margin: 1.5rem 0;
}

.blog-content p {
  margin: 1.5rem 0;
}
.blog-content img {
  border-radius: 0.5rem;
  max-width: 100%;
  margin: 1.5rem auto;
  display: block;
}

.blog-content pre {
  background-color: #111827;
  color: #f9fafb;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.blog-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.blog-content th,
.blog-content td {
  border: 1px solid #374151;
  padding: 0.5rem 1rem;
}

.blog-content th {
  background-color: #1f2937;
  color: #f9fafb;
}
