---

---

<a href="#contacto">
  <button
    class="cursor-pointer transition-all duration-400 ease-in-out hover:scale-105 hover:shadow-lg hover:-translate-y-2 hover:cursor-pointer focus:ring-4 focus:outline-none focus:ring-[#181925] font-medium rounded-lg px-8 py-4 text-center bg-[#e63605] text-[#faf5ec] border-2 border-[#faf5ec] hover:bg-[#faf5ec] hover:text-[#e63605] dark:bg-[#e63605] dark:hover:bg-[#faf5ec] dark:focus:ring-[#181925]"
  >
    <h1 class="text-3xl">Contacto</h1>
  </button>
</a>
