---
import ButtonContact from "./ButtonContact.astro";
---

<div
  class="bg-card py-10 min-h-[85vh] flex flex-col items-center justify-center text-center px-4"
>
  <p class="text-xl sm:text-2xl text-[#faf5ec] mb-4 font-light tracking-widest">
    ¿LISTO PARA EMPEZAR?
  </p>
  <h2
    class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-[#faf5ec] mb-10 font-extrabold leading-tight"
  >
    ¡Contáctanos y hagámoslo realidad!
  </h2>
  <ButtonContact />
</div>
