---
import Card from "@/components/servicios/CardServicio.astro";
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
  <Card
    title="Necesitás ayuda con tu reclamo?"
    description="Seguí esta guía paso a paso para certificar tus beneficios semanales."
    linkText="Ver guía"
    href="/guia"
  />
  <Card
    title="Necesitás ayuda con tu reclamo?"
    description="Seguí esta guía paso a paso para certificar tus beneficios semanales."
    linkText="Ver guía"
    href="/guia"
  />
  <Card
    title="Necesitás ayuda con tu reclamo?"
    description="Seguí esta guía paso a paso para certificar tus beneficios semanales."
    linkText="Ver guía"
    href="/guia"
  />
</div>
