---
import MultipleCardServicio from "./MultipleCardServicio.astro";
---

<section id="servicios" class="h-fit bg-[#faf5ec] p-10">
  <div class="text-center w-[90%] max-w-7xl mx-auto px-4 py-12 bg-light">
    <h2
      class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-[#181925] font-bold mb-5"
    >
      Nuestros Servicios
    </h2>
    <p
      class="text-lg sm:text-xl md:text-2xl text-[#181925] tracking-wide font-light mb-10"
    >
      Ofrecemos soluciones personalizadas y de alta calidad diseñadas para
      superar tus expectativas. A diferencia de otras opciones genéricas, nos
      enfocamos en resultados reales, adaptándonos a tus necesidades específicas
      para garantizar tu éxito.
    </p>

    <MultipleCardServicio />
  </div>
</section>
