---
import { services } from "./servicios";
import HeroPaginas from "../HeroSection/HeroPaginas.astro";
import CardServices from "./CardServices.astro";
---

<section class="relative py-24">
  <div class="max-w-7xl mx-auto px-6">
    <!-- HERO -->
    <HeroPaginas
      title="Consultoría digital para acompañar el crecimiento de tu empresa"
      text="Implementamos, desarrollamos e integramos soluciones tecnológicas según la necesidad real de tu negocio."
    />
    <!-- SERVICES GRID -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        services.map((service) => (
          <CardServices
            title={service.title}
            description={service.description}
            items={service.items}
            Icon={service.icon}
          />
        ))
      }
    </div>

    <!-- CTA -->
    <div class="mt-24 text-center animate-on-scroll">
      <h3
        class="font-family-tight
                    text-5xl
                    tracking-tight
                    mb-6"
      >
        ¿Necesitás mejorar o integrar tus sistemas?
      </h3>
      <a
        href="https://wa.me/5493534746217"
        class="inline-block mt-4 px-8 py-3 rounded-xl bg-primary btn btn-primary text-xl font-medium transition hover:scale-105"
      >
        Contanos de tu proyecto
      </a>
    </div>
  </div>
</section>

<!-- Animaciones -->
<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("in-view");
        }
      });
    },
    { threshold: 0.15 },
  );

  document.querySelectorAll(".animate-on-scroll").forEach((el) => {
    observer.observe(el);
  });
</script>

<style>
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(24px);
    transition:
      opacity 0.8s ease,
      transform 0.8s ease;
  }

  .animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
  }
</style>
