---
// components/NavbarButtons.astro
import NavbarToggle from "./NavbarToggle.astro";
---

<div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
  <button
    type="button"
    class="text-white text-base bg-transparent border border-[#e63605] hover:bg-[#e63605] focus:ring-4 focus:outline-none focus:ring-[#b0121e] font-medium rounded-lg px-4 py-2 text-center dark:bg-transparent dark:hover:bg-[#e63605] dark:focus:[#b0121e]"
  >
    Contacto
  </button>
  <NavbarToggle />
</div>
