---
import Whatsapp from "./icons/Whatsapp.astro";

// components/WhatsAppButton.astro
---

<a
  id="whatsapp-button"
  href="https://wa.me/5493534746217"
  target="_blank"
  rel="noopener noreferrer"
  class="fixed bottom-6 right-6 z-50 group flex items-center bg-green-500 text-white rounded-full px-3 py-3 shadow-lg transition-all duration-300 hover:pr-6 opacity-0 pointer-events-none translate-y-4"
>
  <div class="w-6 h-6 transition-transform duration-300 group-hover:rotate-6">
    <Whatsapp />
  </div>
  <span
    class="w-0 opacity-0 ml-0 group-hover:ml-2 group-hover:w-auto group-hover:opacity-100 transition-all ease-in-out duration-500 whitespace-nowrap overflow-hidden"
  >
    Enviar mensaje
  </span>
</a>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("whatsapp-button");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 100) {
        btn.classList.remove(
          "opacity-0",
          "pointer-events-none",
          "translate-y-4",
        );
        btn.classList.add(
          "opacity-100",
          "pointer-events-auto",
          "translate-y-0",
        );
      } else {
        btn.classList.remove(
          "opacity-100",
          "pointer-events-auto",
          "translate-y-0",
        );
        btn.classList.add("opacity-0", "pointer-events-none", "translate-y-4");
      }
    });
  });
</script>
