---
import LogoAsteris from "../LogoAsteris.astro";
---

<div class="mb-6 md:mb-0">
  <a href="https://flowbite.com/" class="flex items-center">
    <div class="w-10 h-10">
      <LogoAsteris />
    </div>
    <span
      class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
      >Asterisk</span
    >
  </a>
</div>
