---
import FooterLogo from "./FooterLogo.astro";
import FooterLinks from "./FooterLinks.astro";
import FooterRedesSociales from "./FooterRedesSociales.astro";
---

<footer class="bg-card">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <FooterLogo />
      <FooterLinks />
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm font-family-sans text-foreground sm:text-center"
        >© 2025 <a href="https://asteriskconsultora.com/" class="hover:underline"
          >Asterisk</a
        >. Todos los derechos reservados.
      </span>
      <FooterRedesSociales />
    </div>
  </div>
</footer>
