---
import DiscordIcon from "../icons/DiscordIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import Linkedin from "../icons/Linkedin.astro";
import GitHub from "../icons/GitHub.astro";
import XIcon from "../icons/XIcon.astro";

// Podés pasar las redes por props o definirlas acá:
const redes = [
  {
    href: "https://www.facebook.com/profile.php?id=61576737593364",
    label: "Facebook",
    icon: FacebookIcon,
    size: "w-4 h-4"
  },
  {
    href: "https://discord.gg/YAHHs7gr",
    label: "Discord",
    icon: DiscordIcon,
    size: "w-4 h-4"
  },
  {
    href: "https://x.com/AsteriskConsul",
    label: "X (Twitter)",
    icon: XIcon,
    size: "w-4 h-4"
  },
  {
    href: "https://github.com/asterisk-consul",
    label: "GitHub",
    icon: GitHub,
    size: "w-5 h-5"
  },
  {
    href: "https://www.linkedin.com/in/asterisk-consultora-626240367/",
    label: "LinkedIn",
    icon: Linkedin,
    size: "w-4 h-4"
  }
];
---

<div class="flex items-center mt-4 sm:justify-center sm:mt-0">
  {redes.map(({ href, label, icon: Icon, size }, i) => (
    <a
      target="_blank"
      href={href}
      class={`text-foreground/50 hover:text-primary ${i > 0 ? 'ms-5' : ''}`}
      title={label}
    >
      <Icon size={size} />
      <span class="sr-only">{label}</span>
    </a>
  ))}
</div>
