<div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10 lg:gap-18 md:mr-3">
  <!-- Contact Section -->
  <div class="mb-6 md:mb-0">
    <h2
      class="mb-4 text-sm font-semibold text-[#181925] uppercase dark:text-[#faf5ec]"
    >
      Escribinos
    </h2>
    <ul class="text-gray-500 dark:text-gray-400 font-medium">
      <li>
        <a
          href="https://wa.me/543534746217"
          class="hover:underline transition-colors duration-200"
        >
          Whatsapp
        </a>
      </li>
    </ul>
  </div>

  <!-- Social Media Section -->
  <div>
    <h2
      class="mb-4 text-sm font-semibold text-[#181925] uppercase dark:text-[#faf5ec]"
    >
      Seguinos
    </h2>
    <ul
      class="text-gray-500 dark:text-gray-400 font-medium space-y-2 md:space-y-3"
    >
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.instagram.com/asteriskconsultora/"
          class="hover:underline transition-colors duration-200"
        >
          Instagram
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/asterisk-consultora-626240367/"
          class="hover:underline transition-colors duration-200"
        >
          Linkedin
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/asterisk-consul"
          class="hover:underline transition-colors duration-200"
        >
          Github
        </a>
      </li>
    </ul>
  </div>
</div>
