---
const redes = [
  {
    href:"https://www.instagram.com/asteriskconsultora/",
    text:"Instagram"
  },
  {
    href:"https://www.linkedin.com/in/asterisk-consultora-626240367/",
    text:"Linkedin"
  },
  {
    href:"https://github.com/asterisk-consul",
    text:"GitHub"
  }
  
]
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10 lg:gap-18 md:mr-3">
  <!-- Contact Section -->
  <div class="mb-6 md:mb-0">
    <h2
      class="mb-4 text-sm font-semibold text-foreground uppercase "
    >
      Escribinos
    </h2>
    <ul class="text-gray-500 dark:text-gray-400 font-medium">
      <li>
        <a
          href="https://wa.me/543534746217"
          class="hover:underline transition-colors duration-200"
        >
          Whatsapp
        </a>
      </li>
    </ul>
  </div>

  <!-- Social Media Section -->
  <div>
    <h2
      class="mb-4 text-sm font-semibold text-foreground uppercase "
    >
      Seguinos
    </h2>
    <ul
      class="text-gray-500 dark:text-gray-400 font-medium space-y-1 md:space-y-3"
    >
    {redes.map((red) => (
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={red.href}
          class="font-family-tight text-sm text-foreground/70 hover:text-primary/90 hover:underline transition-colors duration-200"
        >
          {red.text}
        </a>
      </li>
    ))}
     
    </ul>
  </div>
</div>
