---
interface Props {
  title: string;
  description: string;
}

// ✅ Imports de estilos globales
import "../styles/global.css";
import "aos/dist/aos.css";

// ✅ Componentes
import Footer from "../components/Footer/Footer.astro";
import NavBar from "@/components/NavBar/NavBar.astro";
import WhatsAppButton from "@/components/WhatsAppButton.astro";

// ✅ Props
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LogoAsterisk.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>

  <body>
  
      <!-- ✅ Cargamos Vue sólo cuando es necesario -->
      <NavBar />
   
    <!-- ✅ Aquí se inyecta el contenido de cada página -->
    <main>
      <slot />
    </main>

    <WhatsAppButton />

    <footer>
      <Footer />
    </footer>

    <!-- ✅ Script para inicializar AOS -->
    <script is:inline>
      import AOS from "aos";
      AOS.init({
        duration: 800,
        once: true,
        offset: 100,
      });
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
